@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

body {
	background-image: url("background-image.png");
	background-repeat: no-repeat;
	background-size: inherit;
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
}
form {
	width: 550px;
	margin-left: 340px;
	margin-top: 80px;
	text-align: center;
}
label {
	width: 100%;
	margin-bottom: 10px;
}
input {
	width: 100%;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
textarea {
	width: 100%;
	height: 160px;
	margin-top: 10px;
	margin-bottom: 10px;
}
button {
	border: none;
	background-color: red;
	font-size: 22px;
	color: white;
	border-radius: 5px;
}